.mainInout{
    display: flex;
    width: 350px;
    margin: auto;
    background-color: white;
}

.one{
    width:50%;
    text-align:center;
    word-wrap: break-word;
}

.two{
    width:50%;
    text-align:center;
    word-wrap: break-word;
}